@(lineChart: List[LineChart], barChart: List[BarChart], currentMedical: List[MedicalHistoryManager], pastMedical: List[MedicalHistoryManager], prescription: List[PrescriptionManager], date: List[VitalDate], vitalTable: List[VitalList], lab: List[LabManager], allergy: List[AllergyManager], vaccine: List[VaccinationManager], appointment: List[AppointmentManager])

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <title>Health Summary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="QueenAdmin - Beautiful Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="@routes.Assets.at("bootstrap/assets/css/bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("bootstrap/assets/css/ionicons.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("bootstrap/assets/css/main.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("bootstrap/assets/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="@routes.Assets.at("bootstrap/assets/ico/queenadmin-favicon144x144.png")">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="@routes.Assets.at("bootstrap/assets/ico/queenadmin-favicon114x114.png")">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="@routes.Assets.at("bootstrap/assets/ico/queenadmin-favicon72x72.png")">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="@routes.Assets.at("bootstrap/assets/ico/queenadmin-favicon57x57.png")">
    <link rel="shortcut icon" href="@routes.Assets.at("bootstrap/assets/ico/favicon.ico")">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body class="fixed-top-active dashboard">
<!-- WRAPPER -->
<div class="wrapper">
    <!-- TOP NAV BAR -->
    <nav class="top-bar navbar-fixed-top" role="navigation">
        <div class="logo-area">
            <a href="#" id="btn-nav-sidebar-minified" class="btn btn-link btn-nav-sidebar-minified pull-left"><i class="icon ion-arrow-swap"></i></a>
            <a class="btn btn-link btn-off-canvas pull-left"><i class="icon ion-navicon"></i></a>
            <div class="logo pull-left">
                <a href="@routes.HealthSummaryController.getHealthSummary()">
                    <img src="@routes.Assets.at("bootstrap/assets/img/queenadmin-logo.png")" alt="Health Summary" />
                </a>
            </div>
        </div>
        <form class="form-inline searchbox hidden-xs" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon ion-ios-search"></i></span>
                    <input type="search" class="form-control" placeholder="search the site ...">
                </div>
            </div>
        </form>
        <div class="top-bar-right pull-right">
            <div class="action-group hidden-xs hidden-sm">
                <ul>
                    <!-- skins -->
                    <!--<li class="action-item skins">
                        <form id="style-switcher">
                            <div class="btn-group open">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="icon ion-ios-gear-outline"></i>
                                </a>
                                <div class="arrow"></div>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <p><strong>Dark Side Nav</strong></p>
                                        <button type="button" class="btn-skin nav-dark full-dark" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/full-dark.css")"></button>
                                        <button type="button" class="btn-skin nav-dark green" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/green.css")"></button>
                                        <button type="button" class="btn-skin nav-dark blue" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/blue.css")"></button>
                                        <button type="button" class="btn-skin nav-dark darkorange" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/darkorange.css")"></button>
                                        <button type="button" class="btn-skin nav-dark seagreen" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/seagreen.css")"></button>
                                    </li>
                                    <li>
                                        <p><strong>Light Side Nav</strong></p>
                                        <button type="button" class="btn-skin nav-light full-white" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/full-white.css")"></button>
                                        <button type="button" class="btn-skin nav-light green green-light-nav" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/green-light-nav.css")"></button>
                                        <button type="button" class="btn-skin nav-light blue blue-light-nav" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/blue-light-nav.css")"></button>
                                        <button type="button" class="btn-skin nav-light darkorange darkorange-light-nav" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/darkorange-light-nav.css")"></button>
                                        <button type="button" class="btn-skin nav-light seagreen seagreen-light-nav" data-skin="@routes.Assets.at("bootstrap/assets/css/skins/seagreen-light-nav.css")"></button>
                                    </li>
                                    <li>
                                        <label class="fancy-checkbox">
                                            <input type="checkbox" id="fixed-top-nav" checked="checked"><span>Fixed Top Navigation</span></label>
                                    </li>
                                    <li data-toggle="popover" data-placement="top" data-container="body" data-content="If checked, try expanding <strong>Pages</strong> menu item on left sidebar. Disabled on minified sidebar." data-trigger="hover">
                                        <label class="fancy-checkbox">
                                            <input type="checkbox" id="fixed-left-nav"><span>Fixed Left Navigation</span></label>
                                    </li>
                                    <li class="menu-item-footer"><a href="#" title="Reset Style" class="reset-style">Reset Style</a></li>
                                </ul>
                            </div>
                        </form>
                    </li>-->
                    <!-- end skins -->
                    <!-- notification: inbox -->
                    <li class="action-item inbox">
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon ion-ios-email-outline"></i><span class="count">2</span>
                            </a>
                            <div class="arrow"></div>
                            <ul class="dropdown-menu" role="menu">
                                <li class="menu-item-header">You have 2 unread messages</li>
                                <li class="inbox-item clearfix">
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" src="@routes.Assets.at("bootstrap/assets/img/user1.png")" alt="Antonio">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading name">Antonius</h5>
                                                <p class="text">The problem just happened this morning. I can't see ...</p>
                                                <span class="timestamp text-muted">4 minutes ago</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="inbox-item unread clearfix">
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" src="@routes.Assets.at("bootstrap/assets/img/user2.png")" alt="Antonio">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading name">Michael</h5>
                                                <p class="text">Hey dude, cool theme!</p>
                                                <span class="timestamp text-muted">2 hours ago</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="inbox-item unread clearfix">
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" src="@routes.Assets.at("bootstrap/assets/img/user3.png")" alt="Antonio">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading name">Stella</h5>
                                                <p class="text">Ok now I can see the status for each item. Thanks! :D</p>
                                                <span class="timestamp text-muted">Oct 6</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="inbox-item clearfix">
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" src="@routes.Assets.at("bootstrap/assets/img/user4.png")" alt="Antonio">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading name">Jane Doe</h5>
                                                <p class="text"><i class="icon ion-reply text-muted"></i> Please check the status of your ...</p>
                                                <span class="timestamp text-muted">Oct 2</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="inbox-item clearfix">
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" src="@routes.Assets.at("bootstrap/assets/img/user5.png")" alt="Antonio">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading name">John Simmons</h5>
                                                <p class="text"><i class="icon ion-reply text-muted"></i> I've fixed the problem :)</p>
                                                <span class="timestamp text-muted">Sep 12</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item-footer">
                                    <a href="#">View All Messages</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- end notification: inbox -->
                    <!-- notification: general -->
                    <li class="action-item general">
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon ion-ios-bell-outline"></i><span class="count">8</span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="menu-item-header">You have 8 notifications</li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-chatbubble text-success"></i>
                                        <span class="text">New comment on the blog post</span>
                                        <span class="timestamp text-muted">1 minute ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-person-add text-success"></i>
                                        <span class="text">New registered user</span>
                                        <span class="timestamp text-muted">12 minutes ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-chatbubble text-success"></i>
                                        <span class="text">New comment on the blog post</span>
                                        <span class="timestamp text-muted">18 minutes ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-ios-cart text-danger"></i>
                                        <span class="text">4 new sales order</span>
                                        <span class="timestamp text-muted">4 hours ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-edit yellow-font"></i>
                                        <span class="text">3 product reviews awaiting moderation</span>
                                        <span class="timestamp text-muted">1 day ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-chatbubble text-success"></i>
                                        <span class="text">New comment on the blog post</span>
                                        <span class="timestamp text-muted">3 days ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-chatbubble text-success"></i>
                                        <span class="text">New comment on the blog post</span>
                                        <span class="timestamp text-muted">Oct 15</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ion-alert-circled text-danger"></i>
                                        <span class="text text-danger">Low disk space!</span>
                                        <span class="timestamp text-muted">Oct 11</span>
                                    </a>
                                </li>
                                <li class="menu-item-footer">
                                    <a href="#">View All Notifications</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- end notification: general -->
                </ul>
            </div>
            <div class="logged-user">
                <div class="btn-group">
                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <img src="@routes.Assets.at("bootstrap/assets/img/user-loggedin.png")" alt="Sebastian" /><span class="name">Sebastian <i class="icon ion-ios-arrow-down"></i></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon ion-ios-person"></i>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon ion-ios-gear"></i>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon ion-power"></i>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="action-group visible-lg-inline-block">
                <ul>
                    <li class="action-item chat">
                        <a><i class="icon ion-ios-chatboxes-outline"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END TOP NAV BAR -->
    <!-- COLUMN LEFT -->
    <div id="col-left" class="col-left">
        <div class="main-nav-wrapper">
            <nav id="main-nav" class="main-nav">
                <h3>MAIN</h3>
                <ul class="main-menu">
                    <li class="active"><a href="@routes.HealthSummaryController.getHealthSummary"><i class="ion-ios-pulse"></i><span class="text">Health Summary</span></a></li>
                    <li class="has-submenu">
                        <a href="#" class="submenu-toggle"><i class="icon ion-ios-paper-outline"></i><span class="text">Managers</span></a>
                        <ul class="list-unstyled sub-menu collapse">
                            <li><a href="@routes.PrescriptionController.getPrescriptionManager()"><span class="text">Prescription Manager</span></a></li>
                            <li><a href="@routes.MedicalHistoryController.getHealthConditionManager()"><span class="text">Health Condition Manager</span></a></li>
                            <li><a href="@routes.LabController.getLabManager()"><span class="text">Lab Manager</span></a></li>
                            <li><a href="@routes.VitalController.getVitalManager()"><span class="text">Vital Manager</span></a></li>
                            <li><a href="@routes.AppointmentController.getAppointmentManager()"><span class="text">Appointment Manager</span></a></li>
                            <li><a href="@routes.VaccineController.getVaccineManager()"><span class="text">Vaccination Manager</span></a></li>
                            <li><a href="@routes.AllergyController.getAllergyManager()"><span class="text">Allergy Manager</span></a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="submenu-toggle"><i class="ion-ios-alarm-outline"></i><span class="text">Reminders</span></a>
                        <ul class="list-unstyled sub-menu collapse">
                            <li><a href="@routes.ReminderPrescriptionController.getReminderManager()"><span class="text">Prescription</span></a></li>
                            <li><a href="charts-interactive.html"><span class="text">Appointment</span></a></li>
                        </ul>
                    </li>
                </ul>
                <h3>ESSENTIALS</h3>
                <ul class="main-menu">
                    <li class="has-submenu">
                        <a href="#" class="submenu-toggle"><i class="icon ion-ios-pie-outline"></i><span class="text">Charts</span></a>
                        <ul class="list-unstyled sub-menu collapse">
                            <li class="active"><a href="@routes.PatientController.getChartsBasic"><span class="text">Basic</span></a></li>
                            <li><a href="@routes.PatientController.getChartsInteractive()"><span class="text">Interactive Charts</span></a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="submenu-toggle"><i class="icon ion-ios-grid-view-outline"></i><span class="text">Tables</span></a>
                        <ul class="list-unstyled sub-menu collapse">
                            <li class="active"><a href="tables-static.html"><span class="text">Static Table</span></a></li>
                            <li><a href="tables-dynamic.html"><span class="text">Dynamic Table</span></a></li>
                        </ul>
                    </li>
                    <li><a href="@routes.PatientController.getMaps()"><i class="icon ion-ios-world-outline"></i><span class="text">Maps</span></a></li>
                    <li><a href="typography.html"><i class="icon ion-ios-compose-outline"></i><span class="text">Typography</span></a></li>
                    <li class="has-submenu">
                        <a href="#" class="submenu-toggle"><i class="icon ion-navicon"></i><span class="text">Menu Levels</span></a>
                        <ul class="list-unstyled sub-menu collapse">
                            <li class="has-submenu">
                                <a href="#" class="submenu-toggle"><span class="text">Second Lvl A</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href="#"><span class="text">Third Lvl A1</span></a></li>
                                    <li><a href="#"><span class="text">Third Lvl A2</span></a></li>
                                    <li><a href="#"><span class="text">Third Lvl A3</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="text">Second Lvl B</span></a></li>
                            <li><a href="#"><span class="text">Second Lvl C</span></a></li>
                            <li><a href="#"><span class="text">Second Lvl D</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END COLUMN LEFT -->
    <!-- COLUMN RIGHT -->
    <div id="col-right" class="col-right ">
        <div class="container-fluid primary-content">
            <!-- PRIMARY CONTENT HEADING -->
            <div class="primary-content-heading clearfix">
                <h2>HEALTH SUMMARY</h2>
                <ul class="breadcrumb pull-left">
                    <li><i class="icon ion-home"></i><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Dashboard v1</li>
                </ul>
                <!-- Favorites button -->
                <div class="sticky-content pull-right">
                    <div class="btn-group btn-dropdown">
                        <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                        <ul class="dropdown-menu dropdown-menu-right list-inline">
                            <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                            <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                            <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                            <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                            <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                            <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default btn-sm btn-quick-task" data-toggle="modal" data-target="#quick-task-modal"><i class="icon ion-edit"></i> Quick Task</button>
                </div>
                <!-- quick task modal -->
                <div class="modal fade" id="quick-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Quick Task</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="task-title" class="control-label sr-only">Title</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="task-title" placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label sr-only">Description</label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" name="task-description" rows="5" cols="30" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save Task</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end quick task modal -->
            </div>
            <!-- END PRIMARY CONTENT HEADING -->
            <div class="row">
                <div class="col-md-8">

                    <div class="widget">
                        <div class="widget-header clearfix no-padding">
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"><a data-toggle="tab" href="#tab-sales1" data-cid="#dashboard-sales-chart">Glucose/A1c</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-visits1" data-cid="#dashboard-visits-chart">Weight/Cholesterol</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-sales1" class="tab-pane fade in active">
                                    <div id="chart_div"></div>
                                </div>
                                <div id="tab-visits1" class="tab-pane fade">
                                    <div id="curve_chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- ORDER STATUS -->
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="fa fa-calendar-o" aria-hidden="true"></i> <span>UPCOMING APPOINTMENTS</span></h3>
                            <div class="btn-group widget-header-toolbar">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(appointment <- appointment){
                                <tr>
                                    <td>@appointment.docName</td>
                                    <td>@appointment.date</td>
                                    <td>@appointment.time</td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ORDER STATUS -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <!-- MAP -->
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="ion-ios-medkit-outline"></i> <span>MEDICAL HISTORY</span></h3>
                            <div class="btn-group widget-header-toolbar visible-lg">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                            <table class="table table-sorting table-striped table-hover datatable">
                                <thead>
                                <tr>
                                    <th>Current Medical Condition</th>
                                    <th>Date Diagnosed</th>
                                    <th>Resolved?</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(current <- currentMedical){
                                <tr>

                                    <td>@current.mcName</td>
                                    <td>@current.dateDiagnosed</td>
                                    <td>
                                        <form method="POST" action="@routes.HealthSummaryController.resolveConditionHS(current.medicalHistoryID)">
                                            <button type="submit" class="btn btn-primary">Resolve</button>
                                        </form>
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>
                                <br>
                                <table class="table table-sorting table-striped table-hover datatable">
                                    <thead>
                                    <tr>
                                        <th>Past Medical Condition</th>
                                        <th>Date Diagnosed</th>
                                        <th>Resolved</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for(past <- pastMedical){
                                    <tr>
                                        <td>@past.mcName</td>
                                        <td>@past.dateDiagnosed</td>
                                        <td>@past.dateResolved</td>

                                    </tr>
                                    }
                                    </tbody>
                                </table>
                                <form method="GET" action="@routes.MedicalHistoryController.getMoreInfo()">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-block">Learn More about Your Medical Conditions</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END MAP -->
                </div>
                <div class="col-md-4">
                    <!-- COMPLETENESS METER -->
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="fa fa-toggle-on" aria-hidden="true"></i></i><span>  PRESCRIPTION</span></h3>
                            <div class="btn-group widget-header-toolbar visible-lg">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table id="datatable-basic-scrolling" class="table table-sorting table-hover datatable">
                                <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Dosage</th>
                                    <th>Frequency</th>

                                </tr>
                                </thead>
                                <tbody>
                                @for(prescription <- prescription){
                                <tr>
                                    <td>@prescription.medicationName</td>
                                    <td>@prescription.dosage</td>
                                    <td>@prescription.frequency Seconds</td>
                                </tr>
                                }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!-- END COMPLETENESS METER -->
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- TASK PROGRESS -->
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="fa fa-heartbeat" aria-hidden="true"></i><span>LATEST VITALS</span></h3>
                            <div class="btn-group widget-header-toolbar visible-lg">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Vital Name</th>
                                    @for(date <- date){
                                    <th>@date.dateTaken</th>
                                    }
                                </tr>
                                </thead>
                                <tbody>
                                @for(vital <- vitalTable){
                                <tr>
                                    <td>@vital.getVitalName</td>
                                    <td>@vital.getValue1</td>
                                    <td>@vital.getValue2</td>
                                    <td>@vital.getValue3</td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TASK PROGRESS -->
                </div>
                <div class="col-md-4">
                    <!-- NEWS FEED WIDGET -->
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>ALLERGY and VACCINATION</span></h3>
                            <div class="btn-group widget-header-toolbar visible-lg">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Vaccine Name</th>
                                    <th>Date</th>
                                    <th>Booster?</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(vaccine <- vaccine){
                                <tr>
                                    <td>@vaccine.vaccineName</td>
                                    <td>@vaccine.date</td>
                                    <td>@vaccine.boosterRequired</td>
                                </tr>
                                }
                                </tbody>
                            </table>
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Allergy</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(allergy <- allergy){
                                <tr>
                                    <td>@allergy.allergyName</td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END NEWS FEED WIDGET -->
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-header clearfix">
                            <h3><i class="ion-erlenmeyer-flask"></i> <span>LAB WORK</span></h3>
                            <div class="btn-group widget-header-toolbar visible-lg">
                                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                                <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-sorting table-striped table-hover datatable">
                                    <thead>
                                    <tr>
                                        <th>Lab Name</th>
                                        <th>Value</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for(lab <- lab){
                                    <tr>
                                        <td>@lab.labName</td>
                                        <td>@lab.value</td>
                                        <td>@lab.dateTaken</td>
                                    </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- END COLUMN RIGHT -->
</div>

<!-- END WRAPPER -->
<!-- Javascript -->
    <script src="@routes.Assets.at("bootstrap/assets/js/jquery/jquery-2.1.0.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/bootstrap/bootstrap.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/queen-common.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/stat/flot/jquery.flot.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/stat/flot/jquery.flot.resize.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/stat/flot/jquery.flot.time.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/stat/flot/jquery.flot.orderBars.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/stat/flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/mapael/raphael/raphael-min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/mapael/jquery.mapael.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/mapael/maps/world_countries.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/moment/moment.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/bootstrap-editable/bootstrap-editable.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/jquery-maskedinput/jquery.masked-input.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/queen-charts.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/queen-maps.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/queen-elements.js")"></script>

    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/datatable/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/plugins/datatable/dataTables.bootstrap.js")"></script>
    <script src="@routes.Assets.at("bootstrap/assets/js/queen-table.js")"></script>

 <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawDualY);

    function drawDualY() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Date');
          data.addColumn('string', 'Hc A1C');
          data.addColumn('string', 'Glucose');

          data.addRows([
            @for(barChart <- barChart){
              ['@barChart.dateTaken', '@barChart.val1', '@barChart.val2'],}
          ]);

          var options = {
            chart: {


            },
            series: {
              0: {axis: 'MotivationLevel'},
              1: {axis: 'EnergyLevel'}
            },
            axes: {
              y: {
                MotivationLevel: {label: 'Hemoglobin A1C (5-5.2%)'},
                EnergyLevel: {label: 'Glucose (1-100)'}
              }
            },
            hAxis: {
              title: 'Time of Day',

              viewWindow: {
                min: [7, 30, 0],
                max: [17, 30, 0]
              }
            },
            vAxis: {
              title: 'Rating (scale of 1-10)'
            }
          };

          var material = new google.charts.Bar(document.getElementById('chart_div'));
          material.draw(data, options);
        }

    /* curve_chart */

    $('.nav-pills a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();

        if (x == 'Weight/Cholesterol') {

          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Date Taken', 'Weight in lb', 'Total Cholesterol'],
               @for(lineChart <- lineChart){
              ['@lineChart.dateTaken', @lineChart.val1, @lineChart.val2],}
            ]);

            var options = {
              title: 'Weight and Cholesterol Over Time',
              curveType: 'function',
              legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
          }
        }
});
    </script>

</body>

</html>
